.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-list {
  color: #c1c1c1;
  max-width: 980px;
}

.navbar-list > li:hover {
  color: rgba(255, 255, 255, 0.92);
}

.smallViewNavbar {
  background-color: #000000;
  height: 100vh;
}

.search-container {
  display: inline-flex;
  height: 36px;
  flex: 1 1 300px;
  position: relative;
  
  background-color: #1d1d1f;
  border-radius: 8px;
  overflow: hidden;
  max-width: 584px;
}

.search-icon {
  width: 30px;
  height: 36px;
  line-height: 36px;
  padding: 10px 3px 10px 5px;
  color: #6e6e73;
}

.search-box {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  color: #ffffff;
  background-color: transparent;
}

.search-box:focus {
  outline: none;
}

.search-box::placeholder {
  color: #6e6e73
}

.search-wrapper {
  position: relative;
}

.search-wrapper::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid #424245;
}

.smallView-list {
  max-width: 664px;
}

.smallView-list > li:not(:last-child)::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid #424245;
}

